
  @font-face {
    font-family: absender;
    src: url("/assets/fonts/absender.ttf");
  }
  @font-face {
    font-family:Champagne;
    src: url("/assets/fonts/Champagne.ttf");
  }
  body{
    font-family: Champagne;
    src: url("/assets/fonts/Champagne.ttf");
    color:#023436;
   
  }
  .navbar{
    box-shadow: 0 2px 5px 0 black;
  }

.navbar{
    background-color: #ef9b0f;
    color: white;
    font-size: 1.2em;
}
.brand{
  font-family: absender;
  src: url("/assets/fonts/absender.ttf");
  font-size: 2em;
  color:#037971;
}

.title{
font-family: absender;
src: url("/assets/fonts/absender.ttf");
font-size: 4.5em;
color:#037971;
}

nav a{
color:white;
font-weight: bold;
letter-spacing: 0.7px;
}
a:hover{
  background-color: #037971;
  color:white;
  animation: pulse 0.5s;
}

.button{
  background-color: #037971;
  color:white;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.button:hover{
  background-color:#cbd2d0;
  color:black;
  animation: headShake 0.5s;
}

@media (min-width: 992px){
  .navbar li {
      margin-left : 1em;
      margin-right : 1em;
  }
}
.case{
  width: 11em;
  border: 2px solid #037971;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
}

.cardstyle{
  border: 2px solid #037971;
  background-color: #E6E6E6;
  box-shadow: 0 2px 5px 0 black;
}

.details, .retour{
  background-color: #ef9b0f;
  border: 2px solid #037971;
}
.details:hover{
  background-color: #037971;
  color:white;
}
.settings{
  background-color: #023436;
}